@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS reset - start */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* CSS reset - end */

:root {
  --primary-color: #5088ff;
}

h1 {
  @apply text-3xl;
}

/* Rich text editor */

.tiptap.prose {
  @apply h-full w-full outline-none;

  a {
    color: var(--primary-color);
    text-decoration: underline;
  }

  ul {
    list-style-type: disc;
    padding-left: 1.5em;
  }

  ol {
    list-style-type: decimal;
    padding-left: 1.5em;
  }

  blockquote {
    @apply my-2 border-l-4 border-primary pl-4 italic;
  }

  pre {
    @apply my-2 rounded-lg bg-default-100 p-4;
  }

  code {
    @apply rounded bg-default-100 px-1.5 py-0.5;
  }

  table {
    @apply my-2 border-collapse;
  }

  td,
  th {
    @apply border border-default-200 px-4 py-2;
  }

  th {
    @apply bg-default-100;
  }
}

.font-size-dropdown .dropdown-item {
  @apply px-2 py-1 text-sm;
}
